<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="NHaml" type="NHaml4.Configuration.NHamlConfigurationSection,NHaml4" />
  </configSections>

  <NHaml>
    <ReferencedAssemblies>
      <add assembly="NHaml4.IntegrationTests" />
    </ReferencedAssemblies>
  </NHaml>

  <appSettings>
		<add key="FhemServerName" value="localhost"/>
		<add key="FhemServerPort" value="7072"/>
	</appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>

  
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>
