!!!
%html(xmlns="http://www.w3.org/1999/xhtml" ng-app="fhemDotNet")
    %head(runat="server")
        %title FhemDotNet - Homepage
        %style [ng-cloak] {display: none}
        %script(src="/scripts/jquery.js")
        %script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
        %script(src="/scripts/angular/angular.js")
        %script(src="/scripts/app.js")

    %body
        _
