!!!
%html(xmlns="http://www.w3.org/1999/xhtml" ng-app="fhemDotNet")
    %head(runat="server")
        %title FhemDotNet - Homepage
        %style [ng-cloak] {display: none}
        %link(rel="stylesheet" type="text/css" href="/content/styles/bootstrap.css")
        %link(rel="stylesheet" type="text/css" href="/content/styles/jslider.css")
        %script(src="/content/scripts/jquery/jquery-2.0.0.js")

        %script(src="/content/scripts/jslider/tmpl.js")
        %script(src="/content/scripts/jslider/draggable-0.1.js")
        %script(src="/content/scripts/jslider/jquery.dependClass-0.1.js")
        %script(src="/content/scripts/jslider/jquery.slider.js")

        %script(src="/content/scripts/angular/angular.js")
        %script(src="/content/scripts/app.js")
        %script(src="/content/scripts/directives/ngModelBlur.js")
        %script(src="/content/scripts/directives/uiSlider.js")
        %script(src="/content/scripts/angular-ui/tooltip.js")

        %style
            body { padding-top: 60px }
    %body
        .container
            _
