.navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
        %a.brand(href="#") Title
        %ul.nav
            %li.active
                %a(href="#")Home
            %li
                %a(href="#")Link
            %li
                %a(href="#")Link

%link(rel="stylesheet" type="text/css" href="/content/styles/index.css")
%form#thermostats(name="thermostats")
    %ul.deviceList(ng-controller="ThermostatListCtrl")
        %li(ng-repeat="device in devices")
            .deviceName
                {{device.Name}}
            .deviceProperties
                .desiredTemp
                    .sliderContainer
                        %input(type="slider" ui-slider="{'from':5,'to':29,'step':0.5}" ng-model="device.DesiredTemp.Value"
                            ng-change="deviceTemperatureChanged(device.Name, device.DesiredTemp)")
                .currentTemp
                    .caption Current Temp:
                    %span {{device.CurrentTemp.Value}}
                    %a
                        %span(tooltip="Measured at {{device.CurrentTemp.Timestamp}}")?
                .currentActuator
                    .caption Actuator:
                    %span {{device.Actuator.Value}}
                    %a
                        %span(tooltip="Measured at {{device.Actuator.Timestamp}}")?
                /.mode
                    %select(ng-model="device.Mode.Value")
                        %option(value="Auto") Auto
                        %option(value="Manu") Manu
                    %a
                        %span(tooltip="Measured at {{device.Mode.Timestamp}}")?

%script(src="/content/scripts/controllers/devices.js")