%link(rel="stylesheet" type="text/css" href="/content/styles/index.css")
%form#thermostats(name="thermostats")
    %table#thermostatTable(ng-controller="ThermostatListCtrl")
        %tr
            %th Room
            %th Current Temp
            %th Desired Temperature
            %th Mode
        %tr(ng-repeat="device in devices")
            %td.thermostatName
                {{device.Name}}
            %td.currentTemp
                {{device.currentTemp}}
            %td.desiredTemp
                %div(ui-slider="{'min':5,'max':29,'step':0.5}" ng-model="device.DesiredTemp"
                    ng-change="deviceTemperatureChanged(device.Name, device.DesiredTemp)")
                %input(value="{{device.DesiredTemp}}" readonly="readonly")
            %td.mode
                %select(ng-model="device.Mode" readonly="readonly")
                    %option(value="Auto") Auto
                    %option(value="Manu") Manu
            %td.more
                %a(href="/devices/{{device.Name}}") more...

%script(src="/content/scripts/controllers/devices.js")