.navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
        %a.brand(href="#") Title
        %ul.nav
            %li.active
                %a(href="#")Home
            %li
                %a(href="#")Link
            %li
                %a(href="#")Link

%link(rel="stylesheet" type="text/css" href="/content/styles/index.css")
%form#thermostats(name="thermostats")
    %table#thermostatTable(ng-controller="ThermostatListCtrl")
        %tr
            %th Room
            %th Current Temp
            %th Desired Temperature
            %th Actuator %
            %th Mode
        %tr(ng-repeat="device in devices")
            %td.thermostatName
                {{device.Name}}
            %td.currentTemp
                {{device.currentTemp}}
            %td.desiredTemp
                %div(ui-slider="{'min':5,'max':29,'step':0.5}" ng-model="device.DesiredTemp"
                    ng-change="deviceTemperatureChanged(device.Name, device.DesiredTemp)")
                %input(ng-model="device.DesiredTemp" ng-model-onblur)
            %td.actuator
                {{device.Actuator}}
            %td.mode
                %select(ng-model="device.Mode")
                    %option(value="Auto") Auto
                    %option(value="Manu") Manu
            /%td.more
                %a(href="/devices/{{device.Name}}") more...

%script(src="/content/scripts/controllers/devices.js")