%form#thermostats(name="thermostats")
    %table#thermostatTable(ng-controller="ThermostatListCtrl")
        %tr
            %th Thermostat Names
            %th Current Temperature
            %th Desired Temperature
            %th Mode
        %tr(ng-repeat="device in devices")
            %td.thermostatName
                {{device.Name}}
            %td.currentTemp
                {{device.currentTemp}}
            %td.desiredTemp
                %input(value="{{device.DesiredTemp}}" readonly="readonly")
            %td.mode
                %select(ng-model="device.Mode" readonly="readonly")
                    %option Auto
                    %option Manu
            %td.more
                %a(href="/devices/{{device.Name}}") more...

%script(src="/scripts/controllers/devices.js")