ul.deviceList {
    list-style-type: none; 
}
ul.deviceList li {
    clear: both;
}
ul.deviceList .deviceName {
    float: left;
    width: 8em;
    height: 7em;
    font-weight: bold;
    vertical-align: middle;
}
ul.deviceList .desiredTemp
{
    float: left;
    width: 43em;
}
ul.deviceList .desiredTemp .ui-slider 
{
    display: inline-block;
    width: 34em;
    margin: 5px;
}
ul.deviceList .desiredTemp input
{
    width: 2.5em;
}
